@media (max-width: 960px) {
    .homeheader {
        height: 50vh;
    }

    body {
        font-size: 14px;
    }
}




@media (max-width: 636px) {

    .popularrecipe {
        min-width: 100%;
    }
    .menuflexboard {
        min-width: 100%;
    }
    .hungryclients .wrapper {
        width: 90%;
    }

    .footerboard {
        flex-wrap: wrap;
    }
    .footerboard {
        .listtitle1 {
            width: 100%;
            .deliciouslist li {
                padding: 5px 0;
            }
        }
        .listtitle2 {
            width: 100%;
        }
        .subscribe {
            width: 100%;
            form {
                .footeremail {
                    width: 50%;
                }
            }
        }
        
    }
}



@media (max-width: 320px) {
    .recipemenu {
        figure {
            min-width:320px;
        }
    }

    .homecircletext {
        height: 100px;
        width: 100px;
    }
    .homeheader {
        height: 40vh;
    }
    .homebar {
        display: none;
    }
    .navicon {
        display: inline-block;
    }
    .menuflexboard {
        width: 100%;
        .menuflex {
            li {
                width: 100%;
            }
        }
    }

    .pineapplechickenboard {
        font-size: .7rem;
    }

}