@media (max-width: 960px) {
    .homeheader {
        height: 50vh;
    }
    .popularrecipe {
        min-width: 400px;
    }

    .menuflexboard {
        width: 400px; 
        }
    figure {
        min-width: 400px;
    }

}