html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  width: 100%;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.mainheader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 2%;
  font-family: "Raleway", sans-serif;
}

.homebar {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homeheader {
  background-image: url(../assets/home-1.jpeg);
  height: 100vh;
  padding-top: 0.5%;
}

.blogheader {
  background-image: url(../assets/blog-1.jpeg);
  height: 50vh;
  padding-top: 0.5%;
}

.contactheader {
  height: 50vh;
  background-image: url(../assets/contact-1.jpeg);
  padding-top: 0.5%;
}

body {
  max-width: 1920px;
  font-size: 125%;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

figure {
  margin: 0;
  padding: 0;
}

nav {
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: limegreen;
}

h1 {
  display: inline-block;
  margin: 0;
}

h4 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

hr {
  border: 3px solid green;
  border-radius: 10px;
  width: 60px;
}

.recipemenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.recipemenu .popularrecipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.recipemenu figure {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.menuflexboard {
  background-color: #ECEFF1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menuflexboard .menuflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.menuflexboard .menuflex li {
  width: 50%;
}

.homegallery {
  width: 100%;
  height: 100%;
}
.homegallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.homegallery ul li {
  width: 33.33%;
}

.hungryclients {
  height: 100%;
  width: 100%;
  background-color: #DDED9A;
  margin: 0 auto;
  text-align: center;
  padding: 6% 0;
}
.hungryclients .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 50%;
  height: 100%;
}

.pineapplechickenboard {
  height: 100%;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.pineapplechicken {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 auto;
}

.pineappleh2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

h2, h5 {
  margin: 0;
}

.meetsallylucas {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 auto;
  margin-bottom: 30px;
}
.meetsallylucas .sallypic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 18%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.meetsallylucas .sallytext {
  width: 100%;
  margin-left: 2%;
  background-color: #999999;
  padding-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
}

.bloggalleryboard {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  border-top: 4px solid #999999;
  border-bottom: 4px solid #999999;
}
.bloggalleryboard ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.bloggalleryboard ul li {
  height: 100%;
  width: 30%;
}
.bloggalleryboard ul li h4 {
  color: grey;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 0;
}
.bloggalleryboard ul li h6 {
  margin-top: 0;
}

.commentsboard {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.commentsboard h3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.commentsboard .comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.commentsboard .silver {
  width: 10%;
  height: 30%;
}
.commentsboard .avaro {
  background-color: #999999;
  width: 100%;
  margin-left: 30px;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
.commentsboard .brunette {
  width: 10%;
  height: 45%;
}
.commentsboard .hudson {
  background-color: #999999;
  width: 100%;
  margin-left: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.dropcontact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.dropcontact .dropus {
  margin: 0 auto;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.dropcontact .dropus form {
  width: 60%;
}
.dropcontact .dropus h2 {
  text-align: left;
  width: 60%;
}
.dropcontact .contactboard {
  margin: 0 auto;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ECEFF1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 4%;
}
.dropcontact .contactboard ul {
  width: 60%;
}

.dragonfruit {
  width: 100%;
  background-image: url(../assets/contact-2.jpeg);
  height: 66.4vh;
}

@media (max-width: 960px) {
  .homeheader {
    height: 50vh;
  }
  .popularrecipe {
    min-width: 400px;
  }
  .menuflexboard {
    width: 400px;
  }
  figure {
    min-width: 400px;
  }
}
footer {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 85%;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
}
.footerboard .listtitle1 {
  width: 30%;
}
.footerboard .listtitle1 h3 {
  color: greenyellow;
}
.footerboard .listtitle1 .deliciouslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.footerboard .listtitle1 .deliciouslist a {
  color: white;
}
.footerboard .listtitle1 .deliciouslist a:hover {
  color: limegreen;
}
.footerboard .listtitle1 .deliciouslist li {
  padding: 20px 0;
  border-bottom: 4px solid rgba(153, 153, 153, 0.6);
}
.footerboard .listittle2 {
  width: 30%;
}
.footerboard .recentposts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}
.footerboard .recentposts a {
  color: white;
}
.footerboard .recentposts a:hover {
  color: limegreen;
}
.footerboard .recentposts li {
  padding: 20px 0;
  border-bottom: 4px solid rgba(153, 153, 153, 0.6);
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: grey;
}

.subscribe form {
  padding-bottom: 10%;
  border-bottom: 4px solid grey;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
}

.restauraunts {
  background-color: white;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  text-align: center;
  margin: 10% 0;
}
.restauraunts .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 30%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-bottom: 80px;
}
.restauraunts .homecircletext {
  position: absolute;
  height: 200px;
  width: 200px;
  top: -100px;
  right: -100px;
}